<h1>Products List</h1>

<table>exit
  <thead>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Stock Quantity</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.title, product_path(product) %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= product.stock_quantity %></td>
    </tr>
  <% end %>
  </tbody>
</table>
